@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@{
    ViewData["Title"] = "Maths study | Chris Taylor Developer";
    string hostName = System.Net.Dns.GetHostName();
    EnvironmentInfo env = new();
}
<h2>Euler's constant<h2>
<div id="eulers-series">
    @{ Html.RenderPartial("~/Views/Shared/eulers-series.mml.cshtml"); }
</div>
<div id="eulers-const-approx-value">
    @{ Html.RenderPartial("~/Views/Shared/eulers-const-approx-value.mml.cshtml"); }
</div>

<h2>Future Value</h2>
<div>
    <p>Future Value (FV) is the value of an asset at a specified date in the future, based on an assumed rate of growth.</p>
</div>

<h2>Present Value</h2>
<div>
    <p>Present value (PV) is the current value of a future sum of money, given a specified rate of return.</p>
</div>
