@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@{
    ViewData["Title"] = "Maths study | Chris Taylor Developer";
    string hostName = System.Net.Dns.GetHostName();
    EnvironmentInfo env = new();
}
<h2>Euler's constant<h2>
<div id="eulers-series">
    @{ Html.RenderPartial("~/Views/Shared/eulers-series.mml.cshtml"); }
</div>
<div id="eulers-const-approx-value">
    @{ Html.RenderPartial("~/Views/Shared/eulers-const-approx-value.mml.cshtml"); }
</div>
